.partners-section {
    padding: 10px 0;
    
    h2 {
        color: #343a40;
        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 2px;
        text-align: center;
        margin-bottom: 40px;
    }
}

// .partners-grid {
//     display: grid;
//     grid-template-columns: repeat(2, 1fr); 
//     gap: 40px;
//     align-items: center;
//     justify-items: center;
//     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

//     @media (min-width: 992px) {
//         grid-template-columns: repeat(4, 1fr);
//     }
// }

.partners-grid {
    display: flex;      
    flex-wrap: wrap;       
    justify-content: center; 
    align-items: center;     
    gap: 40px;             
    width: 100%;
    margin: 0 auto;
}

.partner-card {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    transition: transform 0.3s ease, filter 0.3s ease;
    

    img {
        max-width: 220px;
        height: auto;
        max-height: 110px; 
        object-fit: contain;
    }

    &:hover {
        transform: scale(1.05);
        filter: brightness(1) invert(0) opacity(1);
    }
}